.markdown-body .project-list-item-item {
    color: var(--color-fg-muted);
    border-color: var(--color-border-default);
    background: none;
    height: 350px;
    cursor: pointer;
}

.markdown-body .project-list-item-item:hover {
    color: var(--color-fg);
    border-color: var(--color-fg);
    background-color: var(--color-canvas-subtle);
    opacity: 0.85;
}

.markdown-body .project-list-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.markdown-body .of-hidden {
    overflow: hidden;
}

.markdown-body .img-project {
    width: 100%;
    height: 65%;
}

.markdown-body .fullpanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.markdown-body .popup-header {
    color: var(--color-header-text);
    background-color: var(--color-header-bg);
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.markdown-body .popup-header-content {
    margin: 0 auto;
    height: 100%;
}

.markdown-body .popup-header-title {
    width: calc(100% - 75px);
    height: 100%;
    float: left;
}

.markdown-body .popup-header-button {
    width: 75px;
    height: 75px;
    cursor: pointer;
    float: left;
    opacity: 0.5;
    background-image: url(../img/icon_close_light.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.markdown-body .popup-header-button:hover {
    opacity: 0.8;
}

.markdown-body .border-none {
    border: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-grow-1 {
    flex: 1 !important;
}

.flex-grow-2 {
    flex: 2 !important;
}

.flex-dir-col {
    flex-direction: column;
}