* {
    box-sizing: border-box
}

.markdown-body {
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

body {
    margin: 0 auto;
}

@media (prefers-color-scheme: light) {
    body,
    .fullpanel {
        background-color: #f6f8fa;
    }
}

@media (prefers-color-scheme: dark) {
    body,
    .fullpanel {
        background-color: #161b22;
    }
}

.markdown-body .project-list-item-item {
    color: var(--color-fg-muted);
    border-color: var(--color-border-default);
    background: none;
    cursor: pointer;
}

.markdown-body .project-list-item-item:hover {
    color: var(--color-fg);
    border-color: var(--color-fg);
    background-color: var(--color-canvas-subtle);
    opacity: 0.85;
}

.markdown-body .project-list-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.markdown-body .of-hidden {
    overflow: hidden;
}

.markdown-body .img-project {
    width: 100%;
    height: 65%;
    position: relative;
}

.markdown-body .fullpanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.markdown-body .popup-header {
    color: var(--color-header-text);
    background-color: var(--color-header-bg);
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.markdown-body .popup-header-content {
    margin: 0 auto;
    height: 100%;
}

.markdown-body .popup-header-title {
    width: calc(100% - 75px);
    height: 100%;
    float: left;
}

.markdown-body .popup-header-button {
    width: 75px;
    height: 75px;
    cursor: pointer;
    float: left;
    opacity: 0.5;
    background-image: url(../img/icon_close_light.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.markdown-body .popup-header-button:hover {
    opacity: 0.8;
}

.markdown-body .popup-body {
    margin-top: 75px;
    min-height: calc(100% - 75px);
}

.markdown-body .border-none {
    border: none;
}

.markdown-body .image-box-height {
    height: 225px !important;
}

.markdown-body .topics-area {
    align-items: flex-end;
    flex-wrap: wrap;
}

.markdown-body .topic-box {
    padding: 2px 12px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 5px 5px 0 0;
    flex-shrink: 0;
}

.markdown-body .date-box {
    position: absolute;
    padding: 2px 12px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    background-color: var(--color-canvas-default-trans);
    color: var(--color-fg-default-trans);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-grow-1 {
    flex: 1 !important;
}

.flex-grow-2 {
    flex: 2 !important;
}

.flex-dir-col {
    flex-direction: column;
}

.p-3 {
    padding: 16px !important
}

.mt-0 {
    margin-top: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mt-3 {
    margin-top: 16px !important
}

.mb-3 {
    margin-bottom: 16px !important
}

.mb-2 {
    margin-bottom: 8px !important
}

.mt-0 {
    margin-top: 0 !important
}

.pl-0 {
    padding-left: 0 !important
}

.pt-0 {
    padding-top: 0 !important
}

.d-flex {
    display: flex !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.flex-content-stretch {
    align-content: stretch !important
}

.col-12 {
    width: 100%
}

@media (min-width: 768px) {
    .col-md-6 {
        width: 50%
    }
}

@media (min-width: 1012px) {
    .col-lg-4 {
        width: 33.33333%
    }
}

.Box {
    background-color: var(--color-bg-primary);
    border-color: var(--color-border-primary);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px
}

.object-fit-cover {
    object-fit: cover !important
}

.gutter-condensed {
    margin-right: -8px;
    margin-left: -8px
}

.gutter-condensed>[class*="col-"] {
    padding-right: 8px !important;
    padding-left: 8px !important
}