/*
 * Colors of both themes, light-dark() picks the one of the current color-scheme.
 * The color-scheme follows the system setting or the choice of the visitor, see custom-main.css.
 */
:root {
    --color-canvas-default-transparent: light-dark(rgba(255, 255, 255, 0), rgba(34, 39, 46, 0));
    --color-page-header-bg: light-dark(#f6f8fa, #22272e);
    --color-marketing-icon-primary: light-dark(#218bff, #6cb6ff);
    --color-marketing-icon-secondary: light-dark(#54aeff, #316dca);
    --color-diff-blob-addition-num-text: light-dark(#24292f, #adbac7);
    --color-diff-blob-addition-fg: light-dark(#24292f, #adbac7);
    --color-diff-blob-addition-num-bg: light-dark(#CCFFD8, rgba(87, 171, 90, 0.3));
    --color-diff-blob-addition-line-bg: light-dark(#E6FFEC, rgba(70, 149, 74, 0.15));
    --color-diff-blob-addition-word-bg: light-dark(#ABF2BC, rgba(70, 149, 74, 0.4));
    --color-diff-blob-deletion-num-text: light-dark(#24292f, #adbac7);
    --color-diff-blob-deletion-fg: light-dark(#24292f, #adbac7);
    --color-diff-blob-deletion-num-bg: light-dark(#FFD7D5, rgba(229, 83, 75, 0.3));
    --color-diff-blob-deletion-line-bg: light-dark(#FFEBE9, rgba(229, 83, 75, 0.15));
    --color-diff-blob-deletion-word-bg: light-dark(rgba(255, 129, 130, 0.4), rgba(229, 83, 75, 0.4));
    --color-diff-blob-hunk-num-bg: light-dark(rgba(84, 174, 255, 0.4), rgba(65, 132, 228, 0.4));
    --color-diff-blob-expander-icon: light-dark(#57606a, #768390);
    --color-diff-blob-selected-line-highlight-mix-blend-mode: light-dark(multiply, screen);
    --color-diffstat-deletion-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-diffstat-addition-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-diffstat-addition-bg: light-dark(#2da44e, #57ab5a);
    --color-search-keyword-hl: light-dark(#fff8c5, rgba(198, 144, 38, 0.4));
    --color-prettylights-syntax-comment: light-dark(#6e7781, #768390);
    --color-prettylights-syntax-constant: light-dark(#0550ae, #6cb6ff);
    --color-prettylights-syntax-entity: light-dark(#8250df, #dcbdfb);
    --color-prettylights-syntax-storage-modifier-import: light-dark(#24292f, #adbac7);
    --color-prettylights-syntax-entity-tag: light-dark(#116329, #8ddb8c);
    --color-prettylights-syntax-keyword: light-dark(#cf222e, #f47067);
    --color-prettylights-syntax-string: light-dark(#0a3069, #96d0ff);
    --color-prettylights-syntax-variable: light-dark(#953800, #f69d50);
    --color-prettylights-syntax-brackethighlighter-unmatched: light-dark(#82071e, #e5534b);
    --color-prettylights-syntax-invalid-illegal-text: light-dark(#f6f8fa, #cdd9e5);
    --color-prettylights-syntax-invalid-illegal-bg: light-dark(#82071e, #922323);
    --color-prettylights-syntax-carriage-return-text: light-dark(#f6f8fa, #cdd9e5);
    --color-prettylights-syntax-carriage-return-bg: light-dark(#cf222e, #ad2e2c);
    --color-prettylights-syntax-string-regexp: light-dark(#116329, #8ddb8c);
    --color-prettylights-syntax-markup-list: light-dark(#3b2300, #eac55f);
    --color-prettylights-syntax-markup-heading: light-dark(#0550ae, #316dca);
    --color-prettylights-syntax-markup-italic: light-dark(#24292f, #adbac7);
    --color-prettylights-syntax-markup-bold: light-dark(#24292f, #adbac7);
    --color-prettylights-syntax-markup-deleted-text: light-dark(#82071e, #ffd8d3);
    --color-prettylights-syntax-markup-deleted-bg: light-dark(#FFEBE9, #78191b);
    --color-prettylights-syntax-markup-inserted-text: light-dark(#116329, #b4f1b4);
    --color-prettylights-syntax-markup-inserted-bg: light-dark(#dafbe1, #1b4721);
    --color-prettylights-syntax-markup-changed-text: light-dark(#953800, #ffddb0);
    --color-prettylights-syntax-markup-changed-bg: light-dark(#ffd8b5, #682d0f);
    --color-prettylights-syntax-markup-ignored-text: light-dark(#eaeef2, #adbac7);
    --color-prettylights-syntax-markup-ignored-bg: light-dark(#0550ae, #255ab2);
    --color-prettylights-syntax-meta-diff-range: light-dark(#8250df, #dcbdfb);
    --color-prettylights-syntax-brackethighlighter-angle: light-dark(#57606a, #768390);
    --color-prettylights-syntax-sublimelinter-gutter-mark: light-dark(#8c959f, #545d68);
    --color-prettylights-syntax-constant-other-reference-link: light-dark(#0a3069, #96d0ff);
    --color-codemirror-text: light-dark(#24292f, #adbac7);
    --color-codemirror-bg: light-dark(#ffffff, #22272e);
    --color-codemirror-gutters-bg: light-dark(#ffffff, #22272e);
    --color-codemirror-guttermarker-text: light-dark(#ffffff, #22272e);
    --color-codemirror-guttermarker-subtle-text: light-dark(#6e7781, #545d68);
    --color-codemirror-linenumber-text: light-dark(#57606a, #768390);
    --color-codemirror-cursor: light-dark(#24292f, #adbac7);
    --color-codemirror-selection-bg: light-dark(rgba(84, 174, 255, 0.4), rgba(65, 132, 228, 0.4));
    --color-codemirror-activeline-bg: light-dark(rgba(234, 238, 242, 0.5), rgba(99, 110, 123, 0.1));
    --color-codemirror-matchingbracket-text: light-dark(#24292f, #adbac7);
    --color-codemirror-lines-bg: light-dark(#ffffff, #22272e);
    --color-codemirror-syntax-comment: light-dark(#24292f, #768390);
    --color-codemirror-syntax-constant: light-dark(#0550ae, #6cb6ff);
    --color-codemirror-syntax-entity: light-dark(#8250df, #dcbdfb);
    --color-codemirror-syntax-keyword: light-dark(#cf222e, #f47067);
    --color-codemirror-syntax-storage: light-dark(#cf222e, #f47067);
    --color-codemirror-syntax-string: light-dark(#0a3069, #96d0ff);
    --color-codemirror-syntax-support: light-dark(#0550ae, #6cb6ff);
    --color-codemirror-syntax-variable: light-dark(#953800, #f69d50);
    --color-checks-bg: light-dark(#24292f, #1c2128);
    --color-checks-run-border-width: light-dark(0px, 1px);
    --color-checks-container-border-width: light-dark(0px, 1px);
    --color-checks-text-primary: light-dark(#f6f8fa, #adbac7);
    --color-checks-text-secondary: light-dark(#8c959f, #768390);
    --color-checks-text-link: light-dark(#54aeff, #539bf5);
    --color-checks-btn-icon: light-dark(#afb8c1, #768390);
    --color-checks-btn-hover-icon: light-dark(#f6f8fa, #adbac7);
    --color-checks-btn-hover-bg: light-dark(rgba(255, 255, 255, 0.125), rgba(99, 110, 123, 0.1));
    --color-checks-input-text: light-dark(#eaeef2, #768390);
    --color-checks-input-placeholder-text: light-dark(#8c959f, #545d68);
    --color-checks-input-focus-text: light-dark(#8c959f, #adbac7);
    --color-checks-input-bg: light-dark(#32383f, #2d333b);
    --color-checks-input-shadow: light-dark(none, 0 0 0 1px (obj)=> get_1.default(obj, path));
    --color-checks-donut-error: light-dark(#fa4549, #e5534b);
    --color-checks-donut-pending: light-dark(#bf8700, #c69026);
    --color-checks-donut-success: light-dark(#2da44e, #46954a);
    --color-checks-donut-neutral: light-dark(#afb8c1, #768390);
    --color-checks-dropdown-text: light-dark(#afb8c1, #adbac7);
    --color-checks-dropdown-bg: light-dark(#32383f, #2d333b);
    --color-checks-dropdown-border: light-dark(#424a53, #444c56);
    --color-checks-dropdown-shadow: light-dark(rgba(27, 31, 36, 0.3), rgba(28, 33, 40, 0.3));
    --color-checks-dropdown-hover-text: light-dark(#f6f8fa, #adbac7);
    --color-checks-dropdown-hover-bg: light-dark(#424a53, rgba(99, 110, 123, 0.1));
    --color-checks-dropdown-btn-hover-text: light-dark(#f6f8fa, #adbac7);
    --color-checks-dropdown-btn-hover-bg: light-dark(#32383f, rgba(99, 110, 123, 0.1));
    --color-checks-scrollbar-thumb-bg: light-dark(#57606a, rgba(99, 110, 123, 0.4));
    --color-checks-header-label-text: light-dark(#d0d7de, #768390);
    --color-checks-header-label-open-text: light-dark(#f6f8fa, #adbac7);
    --color-checks-header-border: light-dark(#32383f, #373e47);
    --color-checks-header-icon: light-dark(#8c959f, #768390);
    --color-checks-line-text: light-dark(#d0d7de, #768390);
    --color-checks-line-num-text: light-dark(rgba(140, 149, 159, 0.75), #545d68);
    --color-checks-line-timestamp-text: light-dark(#8c959f, #545d68);
    --color-checks-line-hover-bg: light-dark(#32383f, rgba(99, 110, 123, 0.1));
    --color-checks-line-selected-bg: light-dark(rgba(33, 139, 255, 0.15), rgba(65, 132, 228, 0.15));
    --color-checks-line-selected-num-text: light-dark(#54aeff, #539bf5);
    --color-checks-line-dt-fm-text: light-dark(#24292f, #cdd9e5);
    --color-checks-line-dt-fm-bg: light-dark(#9a6700, #966600);
    --color-checks-gate-bg: light-dark(rgba(125, 78, 0, 0.15), rgba(174, 124, 20, 0.15));
    --color-checks-gate-text: light-dark(#d0d7de, #768390);
    --color-checks-gate-waiting-text: light-dark(#afb8c1, #c69026);
    --color-checks-step-header-open-bg: light-dark(#32383f, #2d333b);
    --color-checks-step-error-text: light-dark(#ff8182, #e5534b);
    --color-checks-step-warning-text: light-dark(#d4a72c, #c69026);
    --color-checks-logline-text: light-dark(#8c959f, #768390);
    --color-checks-logline-num-text: light-dark(rgba(140, 149, 159, 0.75), #545d68);
    --color-checks-logline-debug-text: light-dark(#c297ff, #986ee2);
    --color-checks-logline-error-text: light-dark(#d0d7de, #768390);
    --color-checks-logline-error-num-text: light-dark(#ff8182, #545d68);
    --color-checks-logline-error-bg: light-dark(rgba(164, 14, 38, 0.15), rgba(229, 83, 75, 0.15));
    --color-checks-logline-warning-text: light-dark(#d0d7de, #768390);
    --color-checks-logline-warning-num-text: light-dark(#d4a72c, #c69026);
    --color-checks-logline-warning-bg: light-dark(rgba(125, 78, 0, 0.15), rgba(174, 124, 20, 0.15));
    --color-checks-logline-command-text: light-dark(#54aeff, #539bf5);
    --color-checks-logline-section-text: light-dark(#4ac26b, #57ab5a);
    --color-checks-ansi-black: light-dark(#24292f, #22272e);
    --color-checks-ansi-black-bright: light-dark(#32383f, #2d333b);
    --color-checks-ansi-white: light-dark(#d0d7de, #909dab);
    --color-checks-ansi-white-bright: light-dark(#d0d7de, #909dab);
    --color-checks-ansi-gray: light-dark(#8c959f, #636e7b);
    --color-checks-ansi-red: light-dark(#ff8182, #f47067);
    --color-checks-ansi-red-bright: light-dark(#ffaba8, #ff938a);
    --color-checks-ansi-green: light-dark(#4ac26b, #57ab5a);
    --color-checks-ansi-green-bright: light-dark(#6fdd8b, #6bc46d);
    --color-checks-ansi-yellow: light-dark(#d4a72c, #c69026);
    --color-checks-ansi-yellow-bright: light-dark(#eac54f, #daaa3f);
    --color-checks-ansi-blue: light-dark(#54aeff, #539bf5);
    --color-checks-ansi-blue-bright: light-dark(#80ccff, #6cb6ff);
    --color-checks-ansi-magenta: light-dark(#c297ff, #b083f0);
    --color-checks-ansi-magenta-bright: light-dark(#d8b9ff, #dcbdfb);
    --color-checks-ansi-cyan: #76e3ea;
    --color-checks-ansi-cyan-bright: #b3f0ff;
    --color-project-header-bg: light-dark(#24292f, #22272e);
    --color-project-sidebar-bg: light-dark(#ffffff, #2d333b);
    --color-project-gradient-in: light-dark(#ffffff, #2d333b);
    --color-project-gradient-out: light-dark(rgba(255, 255, 255, 0), rgba(45, 51, 59, 0));
    --color-mktg-btn-bg: light-dark(#1b1f23, #f6f8fa);
    --color-mktg-btn-shadow-outline: light-dark(rgb(0 0 0 / 15%) 0 0 0 1px inset, rgb(255 255 255 / 25%) 0 0 0 1px inset);
    --color-mktg-btn-shadow-focus: light-dark(rgb(0 0 0 / 15%) 0 0 0 4px, rgb(255 255 255 / 25%) 0 0 0 4px);
    --color-mktg-btn-shadow-hover: light-dark(0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03), 0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02), 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07));
    --color-mktg-btn-shadow-hover-muted: light-dark(rgb(0 0 0 / 70%) 0 0 0 2px inset, rgb(255 255 255) 0 0 0 2px inset);
    --color-avatar-bg: light-dark(#ffffff, rgba(205, 217, 229, 0.1));
    --color-avatar-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-avatar-stack-fade: light-dark(#afb8c1, #444c56);
    --color-avatar-stack-fade-more: light-dark(#d0d7de, #373e47);
    --color-avatar-child-shadow: light-dark(-2px -2px 0 rgba(255, 255, 255, 0.8), -2px -2px 0 #22272e);
    --color-topic-tag-border: rgba(0, 0, 0, 0);
    --color-counter-border: rgba(0, 0, 0, 0);
    --color-select-menu-backdrop-border: light-dark(rgba(0, 0, 0, 0), #545d68);
    --color-select-menu-tap-highlight: light-dark(rgba(175, 184, 193, 0.5), rgba(68, 76, 86, 0.5));
    --color-select-menu-tap-focus-bg: light-dark(#b6e3ff, #143d79);
    --color-overlay-shadow: light-dark(0 1px 3px rgba(27, 31, 36, 0.12), 0 8px 24px rgba(66, 74, 83, 0.12), 0 0 0 1px #444c56, 0 16px 32px rgba(28, 33, 40, 0.85));
    --color-header-text: light-dark(rgba(255, 255, 255, 0.7), rgba(205, 217, 229, 0.7));
    --color-header-bg: light-dark(#24292f, #2d333b);
    --color-header-divider: light-dark(#57606a, #768390);
    --color-header-logo: light-dark(#ffffff, #cdd9e5);
    --color-header-search-bg: light-dark(#24292f, #22272e);
    --color-header-search-border: light-dark(#57606a, #444c56);
    --color-sidenav-selected-bg: light-dark(#ffffff, #373e47);
    --color-menu-bg-active: light-dark(rgba(0, 0, 0, 0), #2d333b);
    --color-input-disabled-bg: light-dark(rgba(175, 184, 193, 0.2), rgba(99, 110, 123, 0));
    --color-timeline-badge-bg: light-dark(#eaeef2, #373e47);
    --color-ansi-black: light-dark(#24292f, #545d68);
    --color-ansi-black-bright: light-dark(#57606a, #636e7b);
    --color-ansi-white: light-dark(#6e7781, #909dab);
    --color-ansi-white-bright: light-dark(#8c959f, #cdd9e5);
    --color-ansi-gray: light-dark(#6e7781, #636e7b);
    --color-ansi-red: light-dark(#cf222e, #f47067);
    --color-ansi-red-bright: light-dark(#a40e26, #ff938a);
    --color-ansi-green: light-dark(#116329, #57ab5a);
    --color-ansi-green-bright: light-dark(#1a7f37, #6bc46d);
    --color-ansi-yellow: light-dark(#4d2d00, #c69026);
    --color-ansi-yellow-bright: light-dark(#633c01, #daaa3f);
    --color-ansi-blue: light-dark(#0969da, #539bf5);
    --color-ansi-blue-bright: light-dark(#218bff, #6cb6ff);
    --color-ansi-magenta: light-dark(#8250df, #b083f0);
    --color-ansi-magenta-bright: light-dark(#a475f9, #dcbdfb);
    --color-ansi-cyan: light-dark(#1b7c83, #39c5cf);
    --color-ansi-cyan-bright: light-dark(#3192aa, #56d4dd);
    --color-btn-text: light-dark(#24292f, #adbac7);
    --color-btn-bg: light-dark(#f6f8fa, #373e47);
    --color-btn-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-shadow: light-dark(0 1px 0 rgba(27, 31, 36, 0.04), 0 0 transparent);
    --color-btn-inset-shadow: light-dark(inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 0 transparent);
    --color-btn-hover-bg: light-dark(#f3f4f6, #444c56);
    --color-btn-hover-border: light-dark(rgba(27, 31, 36, 0.15), #768390);
    --color-btn-active-bg: light-dark(hsla(220, 14%, 93%, 1), hsla(213, 12%, 27%, 1));
    --color-btn-active-border: light-dark(rgba(27, 31, 36, 0.15), #636e7b);
    --color-btn-selected-bg: light-dark(hsla(220, 14%, 94%, 1), #2d333b);
    --color-btn-focus-bg: light-dark(#f6f8fa, #373e47);
    --color-btn-focus-border: light-dark(rgba(27, 31, 36, 0.15), #768390);
    --color-btn-focus-shadow: light-dark(0 0 0 3px rgba(9, 105, 218, 0.3), 0 0 0 3px rgba(118, 131, 144, 0.3));
    --color-btn-shadow-active: light-dark(inset 0 0.15em 0.3em rgba(27, 31, 36, 0.15), inset 0 0.15em 0.3em rgba(28, 33, 40, 0.15));
    --color-btn-shadow-input-focus: light-dark(0 0 0 0.2em rgba(9, 105, 218, 0.3), 0 0 0 0.2em rgba(49, 109, 202, 0.3));
    --color-btn-counter-bg: light-dark(rgba(27, 31, 36, 0.08), #444c56);
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-bg: light-dark(#2da44e, #347d39);
    --color-btn-primary-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-primary-shadow: light-dark(0 1px 0 rgba(27, 31, 36, 0.1), 0 0 transparent);
    --color-btn-primary-inset-shadow: light-dark(inset 0 1px 0 rgba(255, 255, 255, 0.03), 0 0 transparent);
    --color-btn-primary-hover-bg: light-dark(#2c974b, #46954a);
    --color-btn-primary-hover-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-primary-selected-bg: light-dark(hsla(137, 55%, 36%, 1), #347d39);
    --color-btn-primary-selected-shadow: light-dark(inset 0 1px 0 rgba(0, 45, 17, 0.2), 0 0 transparent);
    --color-btn-primary-disabled-text: light-dark(rgba(255, 255, 255, 0.8), rgba(205, 217, 229, 0.5));
    --color-btn-primary-disabled-bg: light-dark(#94d3a2, rgba(52, 125, 57, 0.6));
    --color-btn-primary-disabled-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-primary-focus-bg: light-dark(#2da44e, #347d39);
    --color-btn-primary-focus-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-primary-focus-shadow: light-dark(0 0 0 3px rgba(45, 164, 78, 0.4), 0 0 0 3px rgba(46, 164, 79, 0.4));
    --color-btn-primary-icon: light-dark(rgba(255, 255, 255, 0.8), #cdd9e5);
    --color-btn-primary-counter-bg: light-dark(rgba(255, 255, 255, 0.2), rgba(205, 217, 229, 0.2));
    --color-btn-outline-text: light-dark(#0969da, #539bf5);
    --color-btn-outline-hover-text: light-dark(#ffffff, #539bf5);
    --color-btn-outline-hover-bg: light-dark(#0969da, #444c56);
    --color-btn-outline-hover-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-outline-hover-shadow: light-dark(0 1px 0 rgba(27, 31, 36, 0.1), 0 1px 0 rgba(28, 33, 40, 0.1));
    --color-btn-outline-hover-inset-shadow: light-dark(inset 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 1px 0 rgba(205, 217, 229, 0.03));
    --color-btn-outline-hover-counter-bg: light-dark(rgba(255, 255, 255, 0.2), rgba(205, 217, 229, 0.2));
    --color-btn-outline-selected-text: light-dark(#ffffff, #cdd9e5);
    --color-btn-outline-selected-bg: light-dark(hsla(212, 92%, 42%, 1), #1b4b91);
    --color-btn-outline-selected-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-outline-selected-shadow: light-dark(inset 0 1px 0 rgba(0, 33, 85, 0.2), 0 0 transparent);
    --color-btn-outline-disabled-text: light-dark(rgba(9, 105, 218, 0.5), rgba(83, 155, 245, 0.5));
    --color-btn-outline-disabled-bg: light-dark(#f6f8fa, #22272e);
    --color-btn-outline-disabled-counter-bg: light-dark(rgba(9, 105, 218, 0.05), rgba(49, 109, 202, 0.05));
    --color-btn-outline-focus-border: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-btn-outline-focus-shadow: light-dark(0 0 0 3px rgba(5, 80, 174, 0.4), 0 0 0 3px rgba(37, 90, 178, 0.4));
    --color-btn-outline-counter-bg: light-dark(rgba(9, 105, 218, 0.1), rgba(49, 109, 202, 0.1));
    --color-btn-danger-text: light-dark(#cf222e, #e5534b);
    --color-btn-danger-hover-text: light-dark(#ffffff, #cdd9e5);
    --color-btn-danger-hover-bg: light-dark(#a40e26, #c93c37);
    --color-btn-danger-hover-border: light-dark(rgba(27, 31, 36, 0.15), #e5534b);
    --color-btn-danger-hover-shadow: light-dark(0 1px 0 rgba(27, 31, 36, 0.1), 0 0 transparent);
    --color-btn-danger-hover-inset-shadow: light-dark(inset 0 1px 0 rgba(255, 255, 255, 0.03), 0 0 transparent);
    --color-btn-danger-hover-counter-bg: rgba(255, 255, 255, 0.2);
    --color-btn-danger-selected-text: #ffffff;
    --color-btn-danger-selected-bg: light-dark(hsla(356, 72%, 44%, 1), #ad2e2c);
    --color-btn-danger-selected-border: light-dark(rgba(27, 31, 36, 0.15), #f47067);
    --color-btn-danger-selected-shadow: light-dark(inset 0 1px 0 rgba(76, 0, 20, 0.2), 0 0 transparent);
    --color-btn-danger-disabled-text: light-dark(rgba(207, 34, 46, 0.5), rgba(229, 83, 75, 0.5));
    --color-btn-danger-disabled-bg: light-dark(#f6f8fa, #22272e);
    --color-btn-danger-disabled-counter-bg: light-dark(rgba(207, 34, 46, 0.05), rgba(201, 60, 55, 0.05));
    --color-btn-danger-focus-border: light-dark(rgba(27, 31, 36, 0.15), #e5534b);
    --color-btn-danger-focus-shadow: light-dark(0 0 0 3px rgba(164, 14, 38, 0.4), 0 0 0 3px rgba(229, 83, 75, 0.4));
    --color-btn-danger-counter-bg: light-dark(rgba(207, 34, 46, 0.1), rgba(201, 60, 55, 0.1));
    --color-btn-danger-icon: light-dark(#cf222e, #e5534b);
    --color-btn-danger-hover-icon: light-dark(#ffffff, #cdd9e5);
    --color-underlinenav-icon: light-dark(#6e7781, #545d68);
    --color-underlinenav-border-hover: light-dark(rgba(175, 184, 193, 0.2), rgba(99, 110, 123, 0.4));
    --color-action-list-item-inline-divider: light-dark(rgba(208, 215, 222, 0.48), rgba(68, 76, 86, 0.48));
    --color-action-list-item-default-hover-bg: light-dark(rgba(208, 215, 222, 0.32), rgba(144, 157, 171, 0.12));
    --color-action-list-item-default-hover-border: rgba(0, 0, 0, 0);
    --color-action-list-item-default-active-bg: light-dark(rgba(208, 215, 222, 0.48), rgba(144, 157, 171, 0.2));
    --color-action-list-item-default-active-border: rgba(0, 0, 0, 0);
    --color-action-list-item-default-selected-bg: light-dark(rgba(208, 215, 222, 0.24), rgba(144, 157, 171, 0.08));
    --color-action-list-item-danger-hover-bg: light-dark(rgba(255, 235, 233, 0.64), rgba(229, 83, 75, 0.16));
    --color-action-list-item-danger-active-bg: light-dark(#FFEBE9, rgba(229, 83, 75, 0.24));
    --color-action-list-item-danger-hover-text: light-dark(#cf222e, #f47067);
    --color-fg-default-trans: light-dark(#24292faa, #adbac7aa);
    --color-fg-muted: light-dark(#57606a, #768390);
    --color-fg-subtle: light-dark(#6e7781, #545d68);
    --color-fg-on-emphasis: light-dark(#ffffff, #cdd9e5);
    --color-canvas-default: light-dark(#ffffff, #22272e);
    --color-canvas-default-trans: light-dark(#ffffffaa, #22272eaa);
    --color-canvas-overlay: light-dark(#ffffff, #2d333b);
    --color-canvas-inset: light-dark(#f6f8fa, #1c2128);
    --color-canvas-subtle: light-dark(#f6f8fa, #2d333b);
    --color-border-default: light-dark(#d0d7de, #444c56);
    --color-border-muted: light-dark(hsla(210, 18%, 87%, 1), #373e47);
    --color-border-subtle: light-dark(rgba(27, 31, 36, 0.15), rgba(205, 217, 229, 0.1));
    --color-shadow-small: light-dark(0 1px 0 rgba(27, 31, 36, 0.04), 0 0 transparent);
    --color-shadow-medium: light-dark(0 3px 6px rgba(140, 149, 159, 0.15), 0 3px 6px #1c2128);
    --color-shadow-large: light-dark(0 8px 24px rgba(140, 149, 159, 0.2), 0 8px 24px #1c2128);
    --color-shadow-extra-large: light-dark(0 12px 28px rgba(140, 149, 159, 0.3), 0 12px 48px #1c2128);
    --color-neutral-emphasis-plus: light-dark(#24292f, #636e7b);
    --color-neutral-emphasis: light-dark(#6e7781, #636e7b);
    --color-neutral-muted: light-dark(rgba(175, 184, 193, 0.2), rgba(99, 110, 123, 0.4));
    --color-neutral-subtle: light-dark(rgba(234, 238, 242, 0.5), rgba(99, 110, 123, 0.1));
    --color-accent-fg: light-dark(#0969da, #539bf5);
    --color-accent-emphasis: light-dark(#0969da, #316dca);
    --color-accent-muted: light-dark(rgba(84, 174, 255, 0.4), rgba(65, 132, 228, 0.4));
    --color-accent-subtle: light-dark(#ddf4ff, rgba(65, 132, 228, 0.15));
    --color-success-fg: light-dark(#1a7f37, #57ab5a);
    --color-success-emphasis: light-dark(#2da44e, #347d39);
    --color-success-muted: light-dark(rgba(74, 194, 107, 0.4), rgba(70, 149, 74, 0.4));
    --color-success-subtle: light-dark(#dafbe1, rgba(70, 149, 74, 0.15));
    --color-attention-fg: light-dark(#9a6700, #c69026);
    --color-attention-emphasis: light-dark(#bf8700, #966600);
    --color-attention-muted: light-dark(rgba(212, 167, 44, 0.4), rgba(174, 124, 20, 0.4));
    --color-attention-subtle: light-dark(#fff8c5, rgba(174, 124, 20, 0.15));
    --color-severe-fg: light-dark(#bc4c00, #cc6b2c);
    --color-severe-emphasis: light-dark(#bc4c00, #ae5622);
    --color-severe-muted: light-dark(rgba(251, 143, 68, 0.4), rgba(204, 107, 44, 0.4));
    --color-severe-subtle: light-dark(#fff1e5, rgba(204, 107, 44, 0.15));
    --color-danger-fg: light-dark(#cf222e, #e5534b);
    --color-danger-emphasis: light-dark(#cf222e, #c93c37);
    --color-danger-muted: light-dark(rgba(255, 129, 130, 0.4), rgba(229, 83, 75, 0.4));
    --color-danger-subtle: light-dark(#FFEBE9, rgba(229, 83, 75, 0.15));
    --color-done-fg: light-dark(#8250df, #986ee2);
    --color-done-emphasis: light-dark(#8250df, #8256d0);
    --color-done-muted: light-dark(rgba(194, 151, 255, 0.4), rgba(152, 110, 226, 0.4));
    --color-done-subtle: light-dark(#fbefff, rgba(152, 110, 226, 0.15));
    --color-sponsors-fg: light-dark(#bf3989, #c96198);
    --color-sponsors-emphasis: light-dark(#bf3989, #ae4c82);
    --color-sponsors-muted: light-dark(rgba(255, 128, 200, 0.4), rgba(201, 97, 152, 0.4));
    --color-sponsors-subtle: light-dark(#ffeff7, rgba(201, 97, 152, 0.15));
    --color-primer-fg-disabled: light-dark(#8c959f, #545d68);
    --color-primer-canvas-backdrop: light-dark(rgba(27, 31, 36, 0.5), rgba(28, 33, 40, 0.8));
    --color-primer-canvas-sticky: light-dark(rgba(255, 255, 255, 0.95), rgba(34, 39, 46, 0.95));
    --color-primer-border-active: light-dark(#FD8C73, #EC775C);
    --color-primer-border-contrast: light-dark(rgba(27, 31, 36, 0.1), rgba(205, 217, 229, 0.2));
    --color-primer-shadow-highlight: light-dark(inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 0 transparent);
    --color-primer-shadow-inset: light-dark(inset 0 1px 0 rgba(208, 215, 222, 0.2), 0 0 transparent);
    --color-primer-shadow-focus: light-dark(0 0 0 3px rgba(9, 105, 218, 0.3), 0 0 0 3px #143d79);
    --color-scale-black: light-dark(#1b1f24, #1c2128);
    --color-scale-white: light-dark(#ffffff, #cdd9e5);
    --color-scale-gray-0: light-dark(#f6f8fa, #cdd9e5);
    --color-scale-gray-1: light-dark(#eaeef2, #adbac7);
    --color-scale-gray-2: light-dark(#d0d7de, #909dab);
    --color-scale-gray-3: light-dark(#afb8c1, #768390);
    --color-scale-gray-4: light-dark(#8c959f, #636e7b);
    --color-scale-gray-5: light-dark(#6e7781, #545d68);
    --color-scale-gray-6: light-dark(#57606a, #444c56);
    --color-scale-gray-7: light-dark(#424a53, #373e47);
    --color-scale-gray-8: light-dark(#32383f, #2d333b);
    --color-scale-gray-9: light-dark(#24292f, #22272e);
    --color-scale-blue-0: light-dark(#ddf4ff, #c6e6ff);
    --color-scale-blue-1: light-dark(#b6e3ff, #96d0ff);
    --color-scale-blue-2: light-dark(#80ccff, #6cb6ff);
    --color-scale-blue-3: light-dark(#54aeff, #539bf5);
    --color-scale-blue-4: light-dark(#218bff, #4184e4);
    --color-scale-blue-5: light-dark(#0969da, #316dca);
    --color-scale-blue-6: light-dark(#0550ae, #255ab2);
    --color-scale-blue-7: light-dark(#033d8b, #1b4b91);
    --color-scale-blue-8: light-dark(#0a3069, #143d79);
    --color-scale-blue-9: light-dark(#002155, #0f2d5c);
    --color-scale-green-0: light-dark(#dafbe1, #b4f1b4);
    --color-scale-green-1: light-dark(#aceebb, #8ddb8c);
    --color-scale-green-2: light-dark(#6fdd8b, #6bc46d);
    --color-scale-green-3: light-dark(#4ac26b, #57ab5a);
    --color-scale-green-4: light-dark(#2da44e, #46954a);
    --color-scale-green-5: light-dark(#1a7f37, #347d39);
    --color-scale-green-6: light-dark(#116329, #2b6a30);
    --color-scale-green-7: light-dark(#044f1e, #245829);
    --color-scale-green-8: light-dark(#003d16, #1b4721);
    --color-scale-green-9: light-dark(#002d11, #113417);
    --color-scale-yellow-0: light-dark(#fff8c5, #fbe090);
    --color-scale-yellow-1: light-dark(#fae17d, #eac55f);
    --color-scale-yellow-2: light-dark(#eac54f, #daaa3f);
    --color-scale-yellow-3: light-dark(#d4a72c, #c69026);
    --color-scale-yellow-4: light-dark(#bf8700, #ae7c14);
    --color-scale-yellow-5: light-dark(#9a6700, #966600);
    --color-scale-yellow-6: light-dark(#7d4e00, #805400);
    --color-scale-yellow-7: light-dark(#633c01, #6c4400);
    --color-scale-yellow-8: light-dark(#4d2d00, #593600);
    --color-scale-yellow-9: light-dark(#3b2300, #452700);
    --color-scale-orange-0: light-dark(#fff1e5, #ffddb0);
    --color-scale-orange-1: light-dark(#ffd8b5, #ffbc6f);
    --color-scale-orange-2: light-dark(#ffb77c, #f69d50);
    --color-scale-orange-3: light-dark(#fb8f44, #e0823d);
    --color-scale-orange-4: light-dark(#e16f24, #cc6b2c);
    --color-scale-orange-5: light-dark(#bc4c00, #ae5622);
    --color-scale-orange-6: light-dark(#953800, #94471b);
    --color-scale-orange-7: light-dark(#762c00, #7f3913);
    --color-scale-orange-8: light-dark(#5c2200, #682d0f);
    --color-scale-orange-9: light-dark(#471700, #4d210c);
    --color-scale-red-0: light-dark(#FFEBE9, #ffd8d3);
    --color-scale-red-1: light-dark(#ffcecb, #ffb8b0);
    --color-scale-red-2: light-dark(#ffaba8, #ff938a);
    --color-scale-red-3: light-dark(#ff8182, #f47067);
    --color-scale-red-4: light-dark(#fa4549, #e5534b);
    --color-scale-red-5: light-dark(#cf222e, #c93c37);
    --color-scale-red-6: light-dark(#a40e26, #ad2e2c);
    --color-scale-red-7: light-dark(#82071e, #922323);
    --color-scale-red-8: light-dark(#660018, #78191b);
    --color-scale-red-9: light-dark(#4c0014, #5D0F12);
    --color-scale-purple-0: light-dark(#fbefff, #eedcff);
    --color-scale-purple-1: light-dark(#ecd8ff, #dcbdfb);
    --color-scale-purple-2: light-dark(#d8b9ff, #dcbdfb);
    --color-scale-purple-3: light-dark(#c297ff, #b083f0);
    --color-scale-purple-4: light-dark(#a475f9, #986ee2);
    --color-scale-purple-5: light-dark(#8250df, #8256d0);
    --color-scale-purple-6: light-dark(#6639ba, #6b44bc);
    --color-scale-purple-7: light-dark(#512a97, #5936a2);
    --color-scale-purple-8: light-dark(#3e1f79, #472c82);
    --color-scale-purple-9: light-dark(#2e1461, #352160);
    --color-scale-pink-0: light-dark(#ffeff7, #ffd7eb);
    --color-scale-pink-1: light-dark(#ffd3eb, #ffb3d8);
    --color-scale-pink-2: light-dark(#ffadda, #fc8dc7);
    --color-scale-pink-3: light-dark(#ff80c8, #e275ad);
    --color-scale-pink-4: light-dark(#e85aad, #c96198);
    --color-scale-pink-5: light-dark(#bf3989, #ae4c82);
    --color-scale-pink-6: light-dark(#99286e, #983b6e);
    --color-scale-pink-7: light-dark(#772057, #7e325a);
    --color-scale-pink-8: light-dark(#611347, #69264a);
    --color-scale-pink-9: light-dark(#4d0336, #551639);
    --color-scale-coral-0: light-dark(#FFF0EB, #FFDACF);
    --color-scale-coral-1: light-dark(#FFD6CC, #FFB9A5);
    --color-scale-coral-2: light-dark(#FFB4A1, #F79981);
    --color-scale-coral-3: light-dark(#FD8C73, #EC775C);
    --color-scale-coral-4: light-dark(#EC6547, #DE5B41);
    --color-scale-coral-5: light-dark(#C4432B, #C2442D);
    --color-scale-coral-6: light-dark(#9E2F1C, #A93524);
    --color-scale-coral-7: light-dark(#801F0F, #8D291B);
    --color-scale-coral-8: light-dark(#691105, #771D13);
    --color-fg-default: #adbac7;
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
    display: block;
}

.markdown-body summary {
    display: list-item;
}

.markdown-body [hidden] {
    display: none !important;
}

.markdown-body a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none;
}

.markdown-body a:active,
.markdown-body a:hover {
    outline-width: 0;
}

.markdown-body abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
    font-weight: 600;
}

.markdown-body dfn {
    font-style: italic;
}

.markdown-body h1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-body mark {
    background-color: var(--color-attention-subtle);
    color: var(--color-text-primary);
}

.markdown-body small {
    font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown-body sub {
    bottom: -0.25em;
}

.markdown-body sup {
    top: -0.5em;
}

.markdown-body img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default);
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown-body figure {
    margin: 1em 40px;
}

.markdown-body hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--color-border-muted);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--color-border-default);
    border: 0;
}

.markdown-body input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-body [type=button],
.markdown-body [type=reset],
.markdown-body [type=submit] {
    -webkit-appearance: button;
}

.markdown-body [type=button]::-moz-focus-inner,
.markdown-body [type=reset]::-moz-focus-inner,
.markdown-body [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.markdown-body [type=button]:-moz-focusring,
.markdown-body [type=reset]:-moz-focusring,
.markdown-body [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.markdown-body [type=checkbox],
.markdown-body [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-body [type=number]::-webkit-inner-spin-button,
.markdown-body [type=number]::-webkit-outer-spin-button {
    height: auto;
}

.markdown-body [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.markdown-body [type=search]::-webkit-search-cancel-button,
.markdown-body [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdown-body ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.markdown-body ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body hr::before {
    display: table;
    content: "";
}

.markdown-body hr::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdown-body td,
.markdown-body th {
    padding: 0;
}

.markdown-body details summary {
    cursor: pointer;
}

.markdown-body details:not([open])>*:not(summary) {
    display: none !important;
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: var(--color-canvas-subtle);
    border: solid 1px var(--color-neutral-muted);
    border-bottom-color: var(--color-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-body h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdown-body h4 {
    font-weight: 600;
    font-size: 1em;
}

.markdown-body h5 {
    font-weight: 600;
    font-size: .875em;
}

.markdown-body h6 {
    font-weight: 600;
    font-size: .85em;
    color: var(--color-fg-muted);
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdown-body blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: .25em solid var(--color-border-default);
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body dd {
    margin-left: 0;
}

.markdown-body tt,
.markdown-body code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdown-body .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-body ::placeholder {
    color: var(--color-fg-subtle);
    opacity: 1;
}

.markdown-body input::-webkit-outer-spin-button,
.markdown-body input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown-body .pl-c {
    color: var(--color-prettylights-syntax-comment);
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.markdown-body .pl-e,
.markdown-body .pl-en {
    color: var(--color-prettylights-syntax-entity);
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdown-body .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.markdown-body .pl-k {
    color: var(--color-prettylights-syntax-keyword);
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
    color: var(--color-prettylights-syntax-variable);
}

.markdown-body .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdown-body .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdown-body .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdown-body .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.markdown-body .pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.markdown-body .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.markdown-body .pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.markdown-body .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdown-body .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdown-body .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdown-body .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdown-body .pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdown-body .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdown-body .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdown-body .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.markdown-body [data-catalyst] {
    display: block;
}

.markdown-body g-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdown-body g-emoji img {
    width: 1em;
    height: 1em;
}

.markdown-body::before {
    display: table;
    content: "";
}

.markdown-body::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-body>*:first-child {
    margin-top: 0 !important;
}

.markdown-body>*:last-child {
    margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-body .absent {
    color: var(--color-danger-fg);
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-body .anchor:focus {
    outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body blockquote>:first-child {
    margin-top: 0;
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-body sup>a::before {
    content: "[";
}

.markdown-body sup>a::after {
    content: "]";
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: var(--color-fg-default);
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-body ol[type="1"] {
    list-style-type: decimal;
}

.markdown-body ol[type=a] {
    list-style-type: lower-alpha;
}

.markdown-body ol[type=i] {
    list-style-type: lower-roman;
}

.markdown-body div>ol:not([type]) {
    list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body li>p {
    margin-top: 16px;
}

.markdown-body li+li {
    margin-top: .25em;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-body table th {
    font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

.markdown-body table tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

.markdown-body table img {
    background-color: transparent;
}

.markdown-body img[align=right] {
    padding-left: 20px;
}

.markdown-body img[align=left] {
    padding-right: 20px;
}

.markdown-body .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdown-body span.frame {
    display: block;
    overflow: hidden;
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--color-border-default);
}

.markdown-body span.frame span img {
    display: block;
    float: left;
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--color-fg-default);
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdown-body span.float-left span {
    margin: 13px 0 0;
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body code,
.markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-neutral-muted);
    border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
    display: none;
}

.markdown-body del code {
    text-decoration: inherit;
}

.markdown-body pre code {
    font-size: 100%;
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-body .highlight {
    margin-bottom: 16px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--color-canvas-default);
    border: 0;
}

.markdown-body .csv-data tr {
    border-top: 0;
}

.markdown-body .csv-data th {
    font-weight: 600;
    background: var(--color-canvas-subtle);
    border-top: 0;
}

.markdown-body .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default);
}

.markdown-body .footnotes ol {
    padding-left: 16px;
}

.markdown-body .footnotes li {
    position: relative;
}

.markdown-body .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid var(--color-accent-emphasis);
    border-radius: 6px;
}

.markdown-body .footnotes li:target {
    color: var(--color-fg-default);
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdown-body .task-list-item {
    list-style-type: none;
}

.markdown-body .task-list-item label {
    font-weight: 400;
}

.markdown-body .task-list-item.enabled label {
    cursor: pointer;
}

.markdown-body .task-list-item+.task-list-item {
    margin-top: 3px;
}

.markdown-body .task-list-item .handle {
    display: none;
}

.markdown-body .task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em;
}

.markdown-body ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}